extends layout

block content
  h1= title
  body This is the form
  form(action='/new', method='POST')
    p
    input(type='text', name='year', value='')
    | Year:
    input(type='text', name='date', value='')
    | Date:
    input(type='submit', value='Submit')
